<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.gif') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css.map') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% endblock %}
</head>
<body>
  {% block navbar %}{% endblock %}
    <div id="content" class="container">{% block content %}{% endblock %}</div>
  {% block footer %}
  <script type="text/javascript" src='{{ url_for('static', filename='js/lib/jquery-3.2.1.slim.min.js') }}'></script>
  <script type="text/javascript" src='{{ url_for('static', filename='js/lib/popper.min.js') }}'></script>
  <script type="text/javascript" src='{{ url_for('static', filename='js/lib/bootstrap.min.js') }}'></script>
  <script type="text/javascript" src='{{ url_for('static', filename='js/lib/vue.js') }}'></script>
  {% endblock %}
  </div>
</body>
</html>
